 <header class="header">
      <nav>
        <li class= "nav-li"><%= link_to 'Create',new_post_url , :method => :get, :class => "clases" %></li>
        <li class= "nav-li"><%= link_to 'Filter ',list_path,:method => :get, :class => "clases" %></li>  
        <li class= "nav-li"><%= link_to 'All announcements ',posts_path,:method => :get, :class => "clases" %></li>  
    </nav>
  </header>