.field{
    margin-top: 1em;
   
}

.form-control{
    width: 120px;
    outline: none;
    padding: 10px 0px;

}

.btn{
    margin-left: 30px;
    background: blue;
    color: white;
}
.be-red{
    color: red;
}